/*Used shades
Black:#282828
Grey:#303030
Lighter-grey:#383838
Lightest-grey:#505050
Offwhite:#d9d5d4
dark-mauve:#7b667a;
Vomit-green:#a9d0cc
OffPink:#d0b9cd
background-color: #F6F6F8;
*/


/* Basic styling */
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #F6F6F8;
}
html {
  scroll-behavior: smooth;
}

.container-about{
	 background-color: #F6F6F8;
	 justify-content: center!important;
	 	margin-left:15%;
	margin-right:15%;
}

.footer-last{
	 background-color: #f1f1ef;

}

.container{
	background-color: #F6F6F8;
	padding:2%;
	margin-left:10%;
	margin-right:10%;
	align-content: center;	
}

.headerText{
	position:absolute;
    top:10%;
    right:15%;
    z-index:10;
  	font-size: 5vh;
  	font-family: Spectral, serif;
  	font-weight: bold;
  	
  	}

.headerSubtext{
	position:absolute;
    top:18%;
    right:15%;
    z-index:10;
    font-family: Rubik, sans-serif;
  	font-size: 2.5vh;
}

.headerButton{
	position:absolute;
    top:25%;
    right:15%;
    z-index:10;
    font-family: Spectral, serif;
  	font-size: 2.5vh;
  	background: #a9d0cc;
  	border-color: #a9d0cc;
    border-radius: 12px;
    padding: 15px 5px;
    font-family: "Rubik", sans-serif;
}
.headerButton::hover{
	background: #d9d5d4;
  	border-color: #d9d5d4;
    border-radius: 12px;
	}
	
.button-shared{
 padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}
/*Animations*/	
.animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.animate-top{position:relative;animation:animatetop 1.5s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}	
.animate-left{position:relative;animation:animateleft 1.5s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}		
.animate-right{position:relative;animation:animateright 1.5s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-bottom{position:relative;animation:animatebottom 1.5s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.animate-opacity{animation:opac 1.5s}@keyframes opac{from{opacity:0} to{opacity:1}}


/*===============================*/
/*Beginnning NavBar*/

nav {
  background: #7b667a;
  padding: 0 15px;
  position:fixed;
  width:100%;
  z-index: 11;
  font-family: Rubik, sans-serif;
}
a {
  color: black;
  text-decoration: none;
  position: relative;
}

.item a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.item a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 3vh;;
  padding: 7.5px 10px 7.5px 0;
  font-family: Spectral, serif;
  font-weight: bold;
  
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ffffff;
  transform: scale(1.2); 
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #ffffff;
  border-radius: 3px;
  z-index: 10;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: left;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
    
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #a9d0cc;
    border: 1px #a9d0cc;
    border-radius: 12px;
    width:100px;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: #d9d5d4;
    border-color: #d9d5d4;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #ffffff;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}

/*Beginning header with not-full-height video*/
.wrapper{
  width: 100%;
  height:45vh;
  overflow: hidden;
  position: relative;
  text-align : center;
  z-index: 0;
}
.wrapper .wrapper__video{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h1 {
	position: relative;
	color: black;
	font: 900 60px Montserrat;
	text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.wave-video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-video svg {
    position: relative;
    display: block;
    width: calc(156% + 1.3px);
    height: 199px;
    transform: rotateY(180deg);
}

.wave-video .shape-fill {
    fill: #FFFFFF;
}
/*Ending header with video & svg separator*/
/*======================================================================*/
/*======================================================================*/
/* About & ServiceCounter Section */
/* Float four columns side by side */

.effort-text{
	font-family: Rubik, sans-serif;
	font-size:2vh;
}


.column-effort {
  float: left;
  width: 25%;
  padding: 0 5px;
  text-align: center;
}

.row-effort {margin: 0 -5px;}

/* Clear floats after the columns */
.row-effort:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column-effort {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card-effort {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #7b667a;
  color: #d9d5d4;
}

.card-effort::hover{
	transform: scale(1.5);
	background-color: #c6abbc;
	
}

.fa-effort {font-size:50px;}
.fa-color > .card-effort{background-color: black;}

/*======================================================================*/
/*======================================================================*/
/*Pricing Section*/
.background-price {
  position: relative;
  width: 100%;
}
.background-price::after {
  content: '';
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60A9FF', endColorstr='#4394F4',GradientType=0 );
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.container-price {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
.panel {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  width: 100%;
}
.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}
.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}
.pricing-plan {
  border-bottom: 1px solid #E1F1FF;
}
.pricing-plan:last-child {
  border-bottom: none;
}
@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #d0b9cd;
    flex-basis: 100%;
    padding: 25px 50px;
  }
  .pricing-plan:last-child {
    border-right: none;
  }
}
.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}
.pricing-header {
  color: #7b667a;
  font-weight: 600;
  letter-spacing: 1px;
}
.pricing-features {
  color: #7b667a;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}
.pricing-features-item {
  border-top: 1px solid #d0b9cd;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}
.pricing-features-item:last-child {
  border-bottom: 1px solid #d0b9cd;
}
.pricing-price {
  color: #7b667a;
  display: block;
  font-size: 32px;
  font-weight: 700;
}
.pricing-button {
  border: 1px solid #aeb4c8;
  background-color: #aeb4c8;
  border-radius: 10px;
  color: #ffffff;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.pricing-button:hover,
.pricing-button:focus {
  background-color: #d0b9cd;
  border-color:#d0b9cd;
}
.pricing-button.is-featured {
  background-color: #7b667a;
  border-color:#7b667a;
  color: #fff;
}
.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #d0b9cd;
  border-color:#d0b9cd;
}


/*======================================================================*/
/*======================================================================*/
/*Banner Section SlideShow*/
.slider {
  position: relative;
  width: 100%;
  top: calc(50% - 97.25px);
  overflow: hidden;
  
}
.slider .slider-row {
  width: 2956px;
  height: 194.5px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/111863/ubiquity-summit-web-01.png);
  background-size: 2956px 194.5px;
  -webkit-animation: slide 50s linear infinite;
          animation: slide 50s linear infinite;
}

@-webkit-keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -2956px;
  }
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -2956px;
  }
}
/*Ending Banner Section SlideShow*/




/*======================================================================*/
/*======================================================================*/
/* Footer Section */

.new_footer_area {
    background: #f1f1ef;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}

.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  	background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  	background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

.footer > .container{
	background-color: #f1f1ef;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #f1f1ef;
}
.footer .col {
  width: 25%;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.footer .col h1{
	color: #999999;
	font-size: 16px;
	
  font-family: inherit;
  font-weight: bold;
  
}

.about-footer{
	justify-content: start;
}
.footer .col ul li:hover {
  color: #000000;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
/* Ending Footer Section */
/*======================================================================*/
/*======================================================================*/




/****************************************************************************/
/*************************SIGN IN / SIGN UP**********************************/
/****************************************************************************/
.wrapper-signin{
  width: 100%;
  height:100%;
  overflow: hidden;
  position: fixed;
  text-align : center;
  z-index: -1;
  opacity:0.85;
}

.background-video{
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

* {
	box-sizing: border-box;
}

.signin{
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -20px 0 50px;
}

#container h1 {
	font-weight: bold;
	margin: 0;
	color: black;
	font-family: monospace;
	font-size: 40px;
}

#container span {
	font-size: 12px;
}

.social-container a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button.btn-signin {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button.btn-signin:active {
	transform: scale(0.95);
}

button.btn-signin:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#container form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#container input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.signin .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

.signup-form{
	width: 100%;
	z-index: 1;
	left: 25%;
	height: 100%;
}

.signupform-container{
	font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #7b667a;
  height:100%;
  width:100%;
 display: flex;
  justify-content: center;
  align-items: center;
  padding-top:8%;
}

.signupform-container p{
  font-size: 12px;
  margin-left: 18px;
}

.signupform-container h1{
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.signupform-container hr{
 color: #a9a9a9;
  opacity: 0.3;
}
.signupbox{
  width:30%;
  height:80%;
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #d0b9cd; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}

#icon {
  width: 50px;
  display: inline-block;
  background-color: transparent;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: #7b667a;
 
}

.register-button{
font-size: 14px;
  font-weight: 600;
  color: #7b667a;
  text-decoration: none;
  width: 150px; height: 50px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #a9d0cc;
  top: 0px;
  position: relative;
  cursor: pointer;
  float: right;
  padding-right: 2%;
}

.register-button:hover{
	top: 3px;
  background-color:#d9d5d4;
	}
	
	.col-signup{
	float: left;
  width: 50%;
  padding: 10px;
	}
		.row-signup{
		content: "";
  display: table;
  clear: both;
	}

.signup{
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -20px 0 50px;
}


@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #d0b9cd;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


/*===================================================================*/
/*===========================Contact=================================*/
/*===================================================================*/
.contact{
	height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #F6F6F8;;
}

.contact-form {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  background: #d0b9cd;
  margin: 50px 0;
}
.contact-form > * {
  width: 50%;
}
.contact-form .first-container {
  background: url(https://www.subraa.com/there/wp-content/uploads/2020/05/Contact-Subraa-Freelance-Web-Designer-in-Singapore-1.gif) no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form .first-container .info-container div {
  margin: 24px 0;
}
.contact-form .first-container .info-container div h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 10px;
}
.contact-form .first-container .info-container div:first-of-type p {
  max-width: 260px;
  color: #999;
}
.contact-form .first-container .info-container div p {
  font-size: 16px;
  line-height: 1.6;
  color: #00ad5f;
}
.contact-form .second-container {
  padding: 30px;
}
.contact-form .second-container h2 {
  font-size: 30px;
  font-weight: 400;
  color: #333;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}
.contact-form .second-container form {
  display: flex;
  flex-direction: column;
}
.contact-form .second-container form .form-group {
  margin-bottom: 10px;
}
.contact-form .second-container form .form-group * {
  min-height: 55px;
  border: 1px solid #e6e6e6;
  padding: 0 20px;
}
.contact-form .second-container form .form-group label {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #e6e6e6;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  margin-top: -1px;
}
.contact-form .second-container form .form-group:first-of-type input {
  width: 100%;
  margin-right: -5px;
}
.contact-form .second-container form .form-group input {
  width: 100%;
  font-size: 15px;
  margin-top: -2px;
}
.contact-form .second-container form .form-group input::placeholder, .contact-form .second-container form .form-group textarea::placeholder {
  color: #999;
}
.contact-form .second-container form .form-group textarea {
  width: 100%;
  min-height: 80px;
  resize: none;
  padding: 10px 20px;
  margin-top: -1px;
}
.contact-form .second-container form button {
  width: 200px;
  height: 50px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  position: relative;
  left: calc(50% - 100px);
  cursor: pointer;
}
.contact-form .second-container form button:hover {
  background: #333;
}

@media screen and (max-width: 800px) {
  .contact-form {
    width: 90vw;
  }
}
@media screen and (max-width: 700px) {
  .contact-form {
    flex-direction: column-reverse;
  }
  .contact-form > * {
    width: 100%;
  }
  .contact-form .first-container {
    padding: 40px 0;
  }
}

/*===================================================================*/
/*===================================================================*/

/*Blog Layout*/
.grid-container {
  display: grid;
  gap: 10px;
  background-color:#F6F6F8;
  color:black;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0%;
}

.blogtext-page{
  font-family: Rubik, sans-serif, monospace;
text-align:center;
  font-size: 10vh;
  background: -webkit-linear-gradient(
      left,
      #0ff 0%,
      #de48b5 25%,
      #d0b9cd 50%,
      #0097ff 100%
    )
    repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: masked 5s linear infinite, fadeInDown 2s both 1;
  -webkit-animation: masked 5s linear infinite, fadeInDown 2 both 1;
  -moz-animation:masked 5s linear infinite, fadeInDown 2s both 1;
  -o-animation: masked 5s linear infinite, fadeInDown 2s both 1;
}

@keyframes masked{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 5000px;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translatey(-50px);
  }

  to {
    opacity: 1;
    transform: translatey(0px);
  }
}


.grid-item {
  background-color: #d0b9cd;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  
}

.title-blog{
	 font-family:Rubik, sans-serif;
	color: black;
	text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	align-content: center;
}

h5{
	color: black;
	 font-family:Rubik, sans-serif;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.item5 {
  grid-column: 1 / span 3;
  grid-row: 3;
}

/* Header/Blog Title */
.header-article {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn-article {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn-article {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.block-blog {
	background-color:transparent;
	opacity:0.8;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

/* Add a card effect for articles */
.card-article {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   margin-bottom: 16px;
}

.card-article p {
	font-family: Verdana, sans-serif;
	
}

.card-article h2{
	font-family: Georgia, serif;
	text-decoration: underline;
}
/* Clear floats after the columns */
.row-article:after {
  content: "";
  display: table;
  clear: both;
}



/*===================================================================*/
/*===================================================================*/

/*Our Team*/
.column-team {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column-team h2{
	text-align: center;
	color:#7b667a;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card-team {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container-team {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10%;
  padding-bottom: 10%;
  max-height: 100vh;
}

.container-team::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title-team {
  color: grey;
}

.column-team .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #d9d5d4;
  background-color: #7b667a;
  text-align: center;
  cursor: pointer;
  width: 100%;
}


/*===================================================================*/
/*===================================================================*/

/*About*/

.container-about-a{
background-color: 	#F6F6F8;
}

.container-about-b{
background-color: 	#F6F6F8;
}

.row-about:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}

.button-about{
  border: none;
  border-radius:12px;
  color: #d9d5d4;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #a9d0cc;
}

.button-about-b {
  border: none;
  border-radius:12px;
  color: #7b667a;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #a9d0cc;
}


.img-about {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  .img-about {
    margin: auto;
  }
}

/*===================================================================*/
/*===================================================================*/

/*Pricing*/

.pricing-page{
	color:#7b667a;
}

.pricing-button-page {
  border: 1px solid #a9d0cc;
  background-color: #a9d0cc;
  border-radius: 10px;
  color: #282828;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  font-weight: bold;
}
.pricing-button-page:hover,
.pricing-button-page:focus {
  background-color: #7b667a;
  border-color:#7b667a;
}

.green-check{
	color:green;
	font-weight: bold;
	font-size: 2vh;
}

.gray-n-a{
	color:gray;
	font-weight: bold;
	font-size: 2vh;
}

.styled-table td {
	font-size: 1.8vh;
	}
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width:100%;
}
.styled-table thead tr {
    background-color: #d0b9cd;
    color: #282828;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table th{
	text-align: center;
}

.styled-table td.span {
    text-align: center;
    
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #d0b9cd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #d0b9cd;
}
.center-row {
    text-align: center;
    
}
.column-pricing {
  float: left;
  width: 33.33%;
  padding: 10px;
  border-left: solid #7b667a;
}

/* Clear floats after the columns */
.row-pricing:after {
  content: "";
  display: table;
  clear: both;
}

.column-faq-left {
  float: left;
  width: 25%;
  padding: 10px;
}

.column-faq-right {
  float: right;
  width: 75%;
  padding: 10px;
}

/* Clear floats after the columns */
.row-faq:after {
  content: "";
  display: table;
  clear: both;
}

.collapsible > button {
	 background-color: linear-gradient(to right, #d9d5d4 0%, #d9d5d4 50%,#d0b9cd 100%);
	
}

.collapsible {
  background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content-collapse {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #d0b9cd
}

/*===================================================================*/
/*===================================================================*/

/*Service*/

.container-solution {
  display: flex;
  height: 100vh;
}

.left-solution {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  -webkit-animation-name: left;
          animation-name: left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.right-solution {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url("https://glasbans.com/assets/images/services/web-design-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-solution > h2 {
  margin: 0;
  color: #4f46a5;
}

.header-solution > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.form-solution {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.form-solution > p {
  text-align: right;
}

.form-solution > p > a {
  color: #000;
  font-size: 14px;
}

.form-solution-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  outline: 0;
  transition: 0.2s;
  margin-top: 20px;
}

.form-solution-field:focus {
  border-color: #0f7ef1;
}

.form-solution > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Rubik", sans-serif;
}

.animation {
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.a1 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.a2 {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.a3 {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.a4 {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.a5 {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.a6 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@-webkit-keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}
@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}

/*===================================================================*/
/*===================================================================*/

/*Customer profile*/

.column-cusprofile{
	float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.container-cusProfile{
	margin-top:5%;
	font-size: 18px;
	font-family: "Rubik", sans-serif;
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	display: block;
	overflow: hidden;
	padding: 2em;
		z-index: 1;
	width: 100%;
}


.col-one-half-cusProfile{
	float: left;
	width: 33.33%;
}

.input-text-cusProfile{
	background: none;
	border: none;
	line-height: 1em;
	font-weight: 300;
	padding: 0.125em 0.25em;
	width: 100%;
}
.input-text-cusProfile:focus{
	outline: none;
}
.input-text-cusProfile:-webkit-autofill{
	background-color: transparent !important;
}
.text-center-cusProfile{
	text-align: left;
	font-family: "Rubik", sans-serif;
	color: #7b667a;
	font-size: 5vh;
	font-weight: lighter;
}

.customer-img{
	border-radius: 50%;
	clip-path: circle();
	width: 50%;
}

.label-text-cusProfile{
font-family: "Rubik", sans-serif;
float:left;
}

.fa-col-cus{
	color: #7b667a;
}


/*===================================================================*/
/*===================================================================*/

/*ChatBot*/
.container-chat{
	z-index: 25;
}

#chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border-radius: 100%;
    cursor: pointer;
}
#chat-icon .chat-logo {
    height: 80px;
    width: 80px;
}

#chat-box {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: white;
    border-radius: 15px;
    display: none;
    color: black;
}
@-webkit-keyframes openbox {
  0% {
    height: 0px;
    width: 0px;
  }
  100% {
    height: 400px;
    width: 330px;
  }
}
@keyframes openbox {
  0% {
    height: 0px;
    width: 0px;
  }
  100% {
    height: 400px;
    width: 330px;
  }
}
@-webkit-keyframes closebox {
  0% {
    height: 400px;
    width: 330px;
  }
  100% {
    height: 0px;
    width: 0px;
  }
}
@keyframes closebox {
  0% {
    height: 400px;
    width: 330px;
  }
  100% {
    height: 0px;
    width: 0px;
  }
}
.hideBox {
  -webkit-animation: closebox 0.25s ease-out;
  animation: closebox 0.25s ease-out;
  height: 0;
  width: 0;
}
.showBox {
  -webkit-animation: openbox 0.25s ease-in;
  animation: openbox 0.25s ease-in;
  height: 400px;
  width: 330px;
}

#chat-exit {
    position: absolute;
    right: 0;
    font-size: 35px;
    padding: 5px 10px;
    margin: -5px 3px 0 0;
    cursor: pointer;
    display: none;
    color:#7b667a;
}
#chat-header {
    height: 50px;
    background-color: #d0b9cd;
    border-radius: 15px 15px 0 0;
    display: none;
}
.chat-logo {
    height: 45px;
    width: 45px;
    padding: 7.5px;
    margin-left: 5px;
}

#chat-history-wrapper {
    height: 310px;
    overflow-y: auto;
    display: none;
    background-color: #d9d5d4;
}
#chat-history-wrapper::-webkit-scrollbar {
  width: 15px;
  background-color: #d9d5d4;
}
#chat-history-wrapper::-webkit-scrollbar-track {
  background: #d9d5d4;
}
#chat-history-wrapper::-webkit-scrollbar-thumb {
  background-color: #7b667a;
  border-radius: 5px;
  border: 2px solid #7b667a;
  background: #d9d5d4;
}
#chat-history {
    /* height: 500px; */
    background: #d9d5d4;
}
.chat-reply {
    position: relative;
    margin: 10px 20px 10px 10px;
    border-radius: 20px 20px 20px 0;
    background-color: #d0b9cd;
    min-height: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.chat-reply p {
    font-size: 18px;
    width: 215px;
    display: inline-block;
    margin: 5px 0 5px 65px;
}
.chat-reply-logo {
    position: absolute;
    top: 0;
    height: 40px;
    width: 40px;
    margin: 10px 5px 5px 10px;
    display: inline-block;
}
.user-msg {
    margin: 10px 10px 10px 20px;
    border-radius: 20px 20px 0 20px;
    /*border: 1px solid gray;*/
    background-color: #a9d0cc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.user-msg p {
    font-size: 18px;
    margin: 5px 5px 5px 20px;
    padding: 5px;
}

#chat-user-inputs {
    height: 40px;
    background-color: #d0b9cd;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid gray;
    display: none;
}
#chat-user-message {
    background-color: #d0b9cd;
    height: 30px;
    width: 270px;
    border: 0;
    margin: 0 0 0 10px;
    font-size: 18px;
}
#chat-user-message:focus {
    border: 0;
    outline: none !important;
    box-shadow: none;
}
#send-msg-icon {
    float: right;
    padding: 7px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

/*===================================================================*/
/*===================================================================*/

/*Invoice*/

.invoice {
	padding: 3rem 2rem 4rem 3rem;
	width: 600px;
	margin: 3rem auto;
	position: relative;
	border: 1px solid #7b667a;
	}
	
.invoice h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
  color: #7b667a;
}
.invoice h3 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 0 0 1rem 0;
  color: #7b667a;
}

.invoice-id {
  color: #7b667a;
  margin: 0 0 2rem 0;
}

.invoice-logo {
  position: absolute;
  top: 3.3rem;
  right: 3rem;
  width:10%;
}

.invoice-grid {
  margin: 0 0 2rem 0;
}
.invoice-grid > div {
  padding-right: 1rem;
}
.invoice-grid pre {
  margin: 0;
  font-family: inherit;
}

.invoice-module {
  border: 1px solid #ccc;
  padding: 1rem;
  min-height: 100px;
}

.amount-due-amount, .due-date-date {
  font-size: 1.5rem;
  font-weight: 800;
  color: #7b667a;
}

.paid-line {
  padding: 2rem 0 1rem 0;
  text-align: center;
  color: #7b667a;
}
.paid-line img {
  display: block;
  margin: 0 auto 0.5rem;
  width: 20%;
  float: left;
}

.grid [class^=grid-] {
  float: left;
}
.grid .grid-1-2 {
  width: 50%;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*===================================================================*/
/*===================================================================*/

/*Payment Form*/

.page-content {
  height: 100%;
  text-align: center;
  border: 1px solid #7b667a;
  margin-top:10%;
  margin-bottom:10%;
}

.page-content:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.credit-form {
  display: inline-block;
  width: 545px;
  padding: 10px;
  text-align: initial;
  vertical-align: middle;
}

.form-header {
  margin-bottom: 10%;
  margin-top:10%;
  font-family: Rubik, sans-serif;
}

.form-header__slogan {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  font-family: Rubik, sans-serif;
}

.payment-form {
  width: 100%;
  height: auto;
}

.payment-form__group {
  float: left;
  margin-bottom: 10px;
  padding: 0 10px;
}

.payment-form__group-small {
  width: 35%;
}

.payment-form__group-medium {
  width: 65%;
}

.payment-form__group-normal {
  width: 50%;
}

.payment-form__group-large {
  width: 100%;
}

.payment-form__label {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  font-family: Rubik, sans-serif;
}

.payment-form__input {
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  line-height: 1.8;
  padding: 0 0.5em;
  width: 100%;
}
.payment-form__input:focus {
  box-shadow: 0 0 0 1px #2196f3;
}

.payment-form__select {
  padding: 10px;
  outline: none;
  font-family: Rubik, sans-serif;
}
.payment-form__select:focus {
  box-shadow: 0 0 0 1px #2196f3;
}

.payment-form__pic-container {
  text-align: right;
  line-height: 0;
}

.payment-form__pic {
  position: relative;
  bottom: -18px;
  width: 78px;
  height: 75px;
}

.payment-form__button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: #d9d5d4;
  cursor: pointer;
  background-color: #7b667a;
  border: none;
  outline: none;
  box-shadow: 3px 5px #d0b9cd;
  position: relative;
  margin-bottom:10%;
  font-family: Rubik, sans-serif;
  font-size:2vh;
}
.payment-form__button:hover {
  background-color: #a9d0cc;
   color: #7b667a;
}
.payment-form__button:active {
  background-color: #4caf50;
  top: 4px;
  box-shadow: none;
}

@media (max-width: 544px) {
  .credit-form,
.payment-form__group-small,
.payment-form__group-medium,
.payment-form__group-normal,
.payment-form__group-large {
    width: 100%;
  }

  .payment-form__pic-container {
    text-align: left;
  }
}

