/*Color green EcoCar body : #93bb83 */
/*Color green EcoCar wheels : #a1df86 */
/*Color green EcoCar armature : #3e6a3e */
	.col-usersignup{
	float: left;
  width: 50%;
  padding: 10px;
	}
		.row-usersignup{
		content: "";
  display: table;
  clear: both;
	}
	
.jumbotron {
    background-color: #93bb83;
    color: #ffffff;
    font-size: 75px;
    padding: 50px 25px;
    font-family: Montserrat, sans-serif;
    animation: slidein;
    animation-duration: 1s;
}

    .jumbotron .btn:hover {
        border: 1px solid #93bb83;
        background-color: #fff !important;
        color: #93bb83;
        transform: scale(1.1);
    }

    .jumbotron .btn {
        border: 1px solid #f6f6f6;
        background-color: #93bb83;
        color: #f6f6f6;
    }

.jumbotron-main {
    background-color: #93bb83;
    color: #ffffff;
    font-size: 75px;
    padding: 50px 25px;
    font-family: Montserrat, sans-serif;
}

    .jumbotron-main .btn:hover {
        border: 1px solid #93bb83;
        background-color: #fff !important;
        color: #93bb83;
        transform: scale(1.1);
    }

    .jumbotron-main .btn {
        border: 1px solid #f6f6f6;
        background-color: #93bb83;
        color: #f6f6f6;
    }
/*containers reference*/
.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
    padding: 60px 50px;
}

/*Adding grid & logos*/

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}

/*styling Icons from glyphicons*/
.logo-small {
    color: #93bb83;
    font-size: 50px;
}

.logo {
    color: #93bb83;
    font-size: 200px;
}

/*styling Portfolios*/
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

    .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

/*Styling Carousel*/
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #93bb83;
}

.carousel-indicators li {
    border-color: #93bb83;
}

    .carousel-indicators li.active {
        background-color: #93bb83;
    }

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

/*Styling Pricing Containers*/
.panel {
    border: 1px solid #93bb83;
    border-radius: 0;
    transition: box-shadow 0.5s;
}

    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }

.panel-footer .btn:hover {
    border: 1px solid #93bb83;
    background-color: #fff !important;
    color: #93bb83;
}

.panel-heading {
    color: #fff !important;
    background-color: #93bb83 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

    .panel-footer h3 {
        font-size: 32px;
    }

    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }

    .panel-footer .btn {
        margin: 15px 0;
        background-color: #a1df86;
        color: #fff;
    }

/*Styling NavBar*/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
	background-color: #93bb83;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
	padding: 15px 5px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 24px;}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #04bc3b !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/*Styling footer*/
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #93bb83;
}

/*Styling Googlefonts*/
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

/*Styling headers*/
h2 {
    font-size: 24px;
    /*text-transform: uppercase;*/
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
/*Styling slide animations*/
.slideanim {
    visibility: hidden;
}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

hr.solid {
    border-top: solid lightgreen;
}

.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}


.nav-pills .nav-link {
    color: forestgreen
}

    .nav-pills .nav-link.active {
        color: forestgreen
    }

.Cart-Container {
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
}

.Header {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Heading {
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #2F3841;
}

.Action {
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}

.modal-dialog {
    height: 100vh !important;
    display: flex;
}

.modal-content {
    margin: auto !important;
    height: fit-content !important;
}

.show-cart li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-button {
    bottom: 20px;
    right: 20px;
    position: fixed;
    z-index: 3000;
}
/*padding des layout*/
.main-layout {
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}

.verticalcenter {
    position: relative;
    top: 50%;
    transform: translateY(30%);
}

.col-qty > * {
    vertical-align: middle;
}

.col-qty > input {
    max-width: 2.6em;
}


a.qty {
    font-size: 20px;
    text-align: center;
    color: #3e6a3e;
}

.modal {
    position: center;
}

.glyphicon:hover {
    transform: scale(1.5);
}

.anim-right {
    animation: from-right 1s;
}

.anim-left {
    animation: from-left 1s;
}

.eco-valeurs-image {
    width: 30%;
}


.moving-car {
    width: 20%;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 20s;
    bottom: 255px;
}

div.eco-store {
    position: relative;
}

    div.eco-store img {
        width: 20%;
        position: absolute;
        left: -30px;
        bottom: -80px;
        opacity:0.9;
    }

div.eco-scape {
    position: relative;
    height: 10px;
}

    div.eco-scape img {
        width: 20%;
        position: absolute;
        right: -20px;
        bottom: -70px;
        opacity: 0.9;
    }

div.eco-cloud-right {
    position: relative;
    height: 10px;
}

    div.eco-cloud-right img {
        width: 20%;
        position: absolute;
        right: 60px;
        bottom: 130px;
    }


div.eco-cloud-left {
    position: relative;
    height: 10px;
}

    div.eco-cloud-left img {
        width: 20%;
        position: absolute;
        left: 60px;
        bottom: 150px;
    }

        div.eco-cloud-left img:hover {
            opacity: 1;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }

/*other binding form main layout*/
.moving-car-other {
    width: 20%;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 20s;
    bottom: 337px;
}

div.eco-store-other {
    position: relative;
}
/*
left image content layout
*/    div.eco-store-other img {
        width: 20%;
        position: absolute;
        left: -30px;
        bottom: -80px;
        opacity:0.9;
    }

div.eco-scape-other {
    position: relative;
    height: 10px;
}

    div.eco-scape-other img {
        width: 20%;
        position: absolute;
        right: -20px;
        bottom: -70px;
        opacity: 0.9;
    }

div.eco-cloud-right-other {
    position: relative;
    height: 10px;
}

    div.eco-cloud-right-other img {
        width: 20%;
        position: absolute;
        right: 60px;
        bottom: 80px;
    }

div.eco-cloud-left-other {
    position: relative;
    height: 10px;
}

    div.eco-cloud-left-other img {
        width: 20%;
        position: absolute;
        left: 60px;
        bottom: 80px;
        animation-name: grow-and-shrink;
    }


@keyframes slidein {
    from {
        margin-top: 100%;
        width: 300%;
    }

    to {
        margin-top: 0%;
        width: 100%;
    }
}


@keyframes from-right {
    0% {
        transform: translateX(200vh);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes from-left {
    0% {
        transform: translateX(-200vh);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes from-top {
    0% {
        transform: translateY(-200vh);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes grow-and-shrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes run {
    0% {
        left: 0;
    }

    25% {
        left: 25%;
    }

    50% {
        left: 50%;
    }

    75% {
        left: 75%;
    }

    100% {
        left: 100%;
    }
}

/*glyphiconsInSHoppingCart*/
.circle {
    border-radius: 100%;
    border: 0.25em transparent;
    height: 50px;
    width: 50px;
}

/*.glyphicon.glyphicon-edit {
    font-size: 28px;
    padding: 8px 3px 0 8px;
}*/
.glyphicon.glyphicon-refresh {
    font-size: 28px;
    padding: 8px 3px 0 8px;
}
.glyphicon.glyphicon-erase {
    font-size: 28px;
    padding: 8px 3px 0 8px;
}

.submit-with-icon {
    background: transparent;
    border: 0px;
    padding: 0;
    outline: 0;
}

.refresh {
    position: absolute;
    bottom: 240px;
    right: 360px;
}

.empty {
    position: absolute;
    bottom: 240px;
    right: 320px;
}

/*Payment Form*/

.page-content {
  height: 100%;
  text-align: center;
  border: 1px solid #7b667a;
  margin-top:10%;
  margin-bottom:10%;
}

.page-content:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.credit-form {
  display: inline-block;
  width: 545px;
  padding: 10px;
  text-align: initial;
  vertical-align: middle;
}

.form-header {
  margin-bottom: 10%;
  margin-top:10%;
  font-family: Rubik, sans-serif;
}

.form-header__slogan {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  font-family: Rubik, sans-serif;
}

.payment-form {
  width: 100%;
  height: auto;
}

.payment-form__group {
  float: left;
  margin-bottom: 10px;
  padding: 0 10px;
}

.payment-form__group-small {
  width: 35%;
}

.payment-form__group-medium {
  width: 65%;
}

.payment-form__group-normal {
  width: 50%;
}

.payment-form__group-large {
  width: 100%;
}

.payment-form__label {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  font-family: Rubik, sans-serif;
}

.payment-form__input {
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  line-height: 1.8;
  padding: 0 0.5em;
  width: 100%;
}
.payment-form__input:focus {
  box-shadow: 0 0 0 1px #2196f3;
}

.payment-form__select {
  padding: 10px;
  outline: none;
  font-family: Rubik, sans-serif;
}
.payment-form__select:focus {
  box-shadow: 0 0 0 1px #2196f3;
}

.payment-form__pic-container {
  text-align: right;
  line-height: 0;
}

.payment-form__pic {
  position: relative;
  bottom: -18px;
  width: 78px;
  height: 75px;
}

.payment-form__button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background-color: #93bb83;
  border: none;
  outline: none;
  box-shadow: 3px 5px #a1df86;
  position: relative;
  margin-bottom:10%;
  font-family: Rubik, sans-serif;
  font-size:2vh;
}
.payment-form__button:hover {
  background-color: #93bb83;
   color: white;
}
.payment-form__button:active {
  background-color: #4caf50;
  top: 4px;
  box-shadow: none;
}

@media (max-width: 544px) {
  .credit-form,
.payment-form__group-small,
.payment-form__group-medium,
.payment-form__group-normal,
.payment-form__group-large {
    width: 100%;
  }

  .payment-form__pic-container {
    text-align: left;
  }
}

/*===================================================================*/
/*===================================================================*/